<html>
    <head><title>
        <%= title %></title>
    </head>
<body>
        <ul>
               <% 
               <li>Hello!</li>
               %> 
                    </ul>
</body>
   
</html>