h1:hover
{
        opacity:0.5;
}

h2{
    animation: animatie 3s;
}

@keyframes animatie {
    0% {
      transform: scale(0.1);
      opacity: 0;
    }
    100% {
      transform: scale(1);
      opacity:1;
    }
  }

.overview h2::before{
    content:"✋ ";
}

#habitbox  h2::after {
    content:" 🏃";
}

#todobox h2::after{
    content:" ✍️";
}

#row{
    border:dotted;
}

form {
    position: relative;
}

form input {
    padding: 4.6em;
}

form button {
    position: absolute;
    top: 5px;
    right: 5px;
    width: 6em;
}

form button:active{
    color:salmon;
    background-color:white;
}

table {
    position: absolute;
}

tr {}

table button {
    width: 6em;
}
